@using ProyectoMVCEF.Models
@model List<EMP>
@{
    ViewBag.Title = "OrdenarEmpleados";
}

<h2>OrdenarEmpleados</h2>
<h1 style="color:blue"></h1>
<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("Apellido", "OrdenarEmpleados", "Empleados", new { orden = ViewBag.Orden }, null)
        </th>
    </tr>
    @foreach (EMP empleado in Model) {
        <tr>
            <td>@empleado.APELLIDO</td>
        </tr>
    }
</table>