
@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script type="text/javascript">
        function llamarSwall() {
            Swal({
                type: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
                footer: '<a href>Why do I have this issue?</a>'
            })
        }
    </script>
}


<h2>Index</h2>

