@{
    ViewBag.Title = "SumarNumeros";
}

<h2>SumarNumeros</h2>
<form action="" method="post">
    <div class="row">
        <div class="col-md-3">
            Número 1: <input type="number" name="Num1" />
        </div>
        <div class="col-md-3">
            Número 2: <input type="number" name="Num2" /><br />
        </div>
        <button type="submit" class="btn btn-success">Sumar</button>
    </div>
</form>

<h2 style="color:blue">Resultado: @ViewBag.Operacion</h2>



