
@{
    ViewBag.Title = "TablaMultiplicarHTML";
}

<h2>TablaMultiplicarHTML</h2>

<form action="" method="post">
    Número: <input type="number" name="numero" required /><br />
    <button type="submit" class="btn btn-success">Multiplicar</button>
</form>
@Html.Raw(ViewBag.HTML)
<iframe width="560" 
        height="315" 
        src="https://www.youtube.com/embed/xo-CtUFrImE" 
        frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>