
@{
    ViewBag.Title = "VideosYouTube";
}

<h2>VideosYouTube</h2>

<form action="" method="post">
    Codigo: <input type="text" name="video" required /><br />
    <button type="submit" class="btn btn-success">Ver video</button>
</form>
@Html.Raw(ViewBag.HTML)
